{% extends 'base.html.twig' %}

{% block title %}User details{% endblock %}

{% block body %}
<h2>Complete details for user id: {{ user.id }}</h2>
<table class="table table-borderless col-md-6 mt-3">
  <tbody>
    <tr>
      <th scope="row">Firstname:</th>
      <td>{{ user.firstname }}</td>
    </tr>
    <tr>
      <th scope="row">Lastname:</th>
      <td>{{ user.lastname }}</td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th scope="row">Date of Birth</th>
      <td>{{ user.dob|date('d-m-Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Created at:</th>
      <td>{{ user.createdAt|date('d-m-Y H:i:s') }}</td>
    </tr>
    <tr>
      <th scope="row">Update at:</th>
      <td>{{ user.updatedAt|date('d-m-Y H:i:s') }}</td>
    </tr>
  </tbody>
</table>
<hr>
<a href="/">Go Back</a>
{% endblock %}